
.select_home{
	display: table;
	width: 100%;
	text-align: center;
}
.select_home a{
	display: table-cell;
	color: #898989;
	padding: 10px 0; 
	
}
.select_home a img{
	width: 45px;
	height: 45px;

	/*padding-bottom: 10px;*/
}  
.repast_free{
	display: block;
	

	color: #898989;
	padding: 15px 5%;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	background: url(../images/black_more.png)no-repeat 96%;
	background-size: 20px 20px;
/*	background-position: 20px;*/
}
.repast_voice{
	padding:15px 5%;
	position: relative;
	height: 52px;
	overflow: hidden;
}
.repast_voice .new{
	background: url(../images/new_voice.png)no-repeat right;
	background-size: 22px 22px;
}
.repast_voice ul{
	position: relative;
    top: 50%; 
    padding-top: 15px;
}
.repast_voice li{
	padding-right: 8%;
	display: block;
	line-height: 26px;
    height: 26px;
	
}
.repast_voice li a{
	display: inline-block;
	max-width: 74%;
	color: #898989;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.repast_voice .first_voice{
	color: #d7000f;
}
.repast_voice .voice_play{
	width: 40px;
	height: 40px;
	position: absolute;
	right: 9%;
	top: 21px;
}

.teacher_list a img{
	/*height: 210px;*/
	height: 56vw;
}
.teacher_list a div,
.tutor_list a div{
    color: #898989;
    padding: 15px 5%;
}


/*导师列表页面*/
.tutor_list li a img,
.tutor_details .banner img{

	width: 100%;
	height: 56vw;

}
.tutor_list li{
	position: relative;	
}
.tutor_list li:last-child{
	border-bottom: 1px solid #d9d9d9;
}

.tutor_list .tutor_subtitle{
	position: absolute;
	bottom: 44px;
	left: 0;
	width: 96%;
	height: 30px;
	line-height: 30px;
	padding: 0 2%;
	color: #fff;
	background-color: rgba(0,0,0,.4);
}
.tutor_list .tutor_profile{
	display: table;
	width: 96%;
	height: 44px;
	line-height: 44px;
	padding: 0 2%;
	color: #898989;
}
.tutor_list .tutor_profile span{
	display: table-cell;
}

.tutor_list .tutor_profile .video_view{
	background: url(../images/video_view.png)no-repeat left;
	background-size: 22px 22px;
	padding-left: 22px;
	text-align: left;
}
.tutor_list .tutor_profile .date_updated{

	text-align: right;
}



/* 导师详情页 */

.tutor_details .tutor_information{
	padding: 10px 3%;
	position: relative;
}

.tutor_details .tutor_information .tutor_title{
	font-size: 1.1rem;
	margin-bottom: 24px;
}
.tutor_details .tutor_information .detailed_information{
	margin-top: 16px;
	/*overflow: hidden;*/
	/*height: 40px;*/
	line-height: 20px;
	position: relative;
}
.apostrophe{
	text-overflow:ellipsis;
	/*display:-webkit-box; */
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
}
 .oc_details{
	display: block;
    text-align: center;
/*    margin: 8px 0;
    padding-bottom: 4px;
    position: relative;*/
    height: 40px;
    line-height: 40px;
}
.oc_details span{

	color: #898989;
}
 .oc_details img{
	width: 20px;
	height: 20px;
	position: relative;
	top: 5px;

}
.attention_volume{
	height: 26px;
	/*width: 90px;*/
	line-height: 26px;
	text-align: center;
	position: absolute;
	right: 3%;
	top: 40px;
	/*border: 1px solid;*/
	
	border-radius: 5px;
	
	padding-left: 28px;
	padding-right: 14px;
}
.attention_volume.on{
	border: 1px solid #d7000f;
	background: url(../images/attention_volume_blue_star.png)no-repeat 10px 6px;
	background-size: 16px;
	color: #d7000f;
}
.attention_volume.up{
	border: 1px solid #898989;
	color: #898989;
	background: url(../images/attention_volume_gray_star.png)no-repeat 10px 6px;
	background-size: 16px;
}


.become_member{
	background-color: #d7000f;
	display: block;
	padding: 15px 0;
	text-align: center;
	color: #fff;
}