body,html{
	background-color: #fff!important;
}
.return_home{
    display:none;
}
.import_phone,.import_code{
	border: 1px solid #cccccc;
	height: 44px;
	line-height: 44px;
	width: 92%;
	margin: 15px auto;
	background-color: #fff;
	border-radius: 5px;
	padding: 0 2.6%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #000000;
}
.import_code{
	position: relative;
}
.import_phone input,.import_code input{
	border: none;
	height: 30px;
	line-height: 30px;
	width: 50%;

}
.banner{
	padding-top: 16vw;
	height: 50.67vw;
	background-color: #d72617;
	text-align: center;
	position: relative;
}
.give_members{
	display: inline-block;
	background: url(../images/gift_01@2x.png) no-repeat;
	height: 28.27vw;
	width: 21.07vw;
	-webkit-background-size: 100%;
	background-size: 100%;
	margin-right: 8.6%;
	position:relative;
}
.give_fund{
	display: inline-block;
	background: url(../images/gift_02@2x.png) no-repeat;
	height: 28.27vw;
	width: 21.07vw;
	-webkit-background-size: 100%;
	background-size: 100%;
	position:relative;
}
.give_fund span,.give_members span{
	position: absolute;
	top: 10.3vw;
	right: 7.3vw;
	color: #c8a063;
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 6.4vw;
	width: 12vw;
	text-align: center;
}
.get_code{
	position: absolute;
	right: 0;
	top: 0;
	background-color: #d7000f;
	color: #fff;
	height: 42px;
	/*padding: 0 16px;*/
	width: 26.67vw;
	text-align: center;
	border-radius: 0 5px 5px 0;
}
.gray_line{
	height: 1px;
	background-color: #d8d8d8;
	width: 92%;
	margin: 25px auto;
	position: relative;
}
button{
	display: block;
	width: 92%;
	margin: 0 auto;
	color: #fff;
	background-color: #d7000f;
	border: none;
	border-radius: 5px;
	height: 44px;
	margin-bottom: 36px;
}
.rules_title{
	color: #666666;
	position: absolute;
	width: 100%;
	text-align: center;
	top: -10px;
}
.rules_title span{
	background-color: #fff;
	display: inline-block;
	padding: 0 10px;
}
.gray_line ul{
	padding-top: 27px;
}
.gray_line ul li{
	margin-bottom: 10px;
}
.scancode_content{
	margin-top: 25px;
}
.welfare{
	color: #c8a063;
	text-align: center;
	position: relative;
	position: absolute;
	bottom: 3vw;
	width: 100%;
	text-align: center;
}
.welfare div{
	margin-bottom: 5px;
}
.welfare img{
	width: 10px;
	height: 8px;
}


.received{
    width: 260px;
    height: 150px;
    margin-top: -75px;
    margin-left: -130px;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 10px;
    color: #999;
    font-size: 1rem;
    text-align: center;
     display: none; 
}
.received a {
	position: absolute;
	bottom: 0;
	left: 0;
    display: inline-block;
    width: 100%;
    padding: 14px 0;
    font-size: 1.2rem;
    border-top: 1px solid #d8d8d8;
}
.received .title{
	font-size: 1.3rem;
	/*font-weight: bold;*/
	margin-top: 16px;
}
.received>p{
	margin-top: 10px;
}


.code_title1{
	margin-top: 8.7vh;
	color: #666666;
	font-size: 1.4rem;
	/*font-weight: bold;*/
}
.code_title2{
	margin-top: 20px;
}
.code_title3{
	margin-top: 10px;
}

.code_bottom{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 24px;
}
.code_img{
	margin-top: 12vh;
	width: 40vw;
	height: 40vw;

}