	.control-label2{
		display: -webkit-inline-box;
		margin-left: 10px;
	}
	.reward-sum{
		padding: 0 10px;
		margin:10px 0;
	}
	.form-horizontal .control-label {
		width: 90px;
		text-align: left;
		margin-left: 30px;
	}
	.form-horizontal .controls {
		margin-left: 140px;
	}
	.reward-review2 {
		padding: 12px;
		margin-top: 18px;
		background-color: #f5f5f5;
		border: 1px solid #e5e5e5;
	}
	html,body,form,p,h1,h2,h3,h4,h5,h6,dl,ul,ol,li,dt,dd,select,header {
		margin: 0;
		padding: 0;
		font-weight: normal;
	}
	p,span,a,li,div,input[type="button"]{
		-webkit-user-select:none;
	}
	.Play_tour ul,
	.discuss ul {
		overflow: hidden;
	}
	.discuss ul li {
		list-style-type:none;
		overflow: hidden;
		position: relative;
		font-size: 14px;
		padding: 10px 0;
		border-bottom: 1px solid #ccc; 
	}
	.Play_tour ul li{
		float: left;
		width: 260px;
		list-style-type:none;
		margin: 10px 0;
	}
	.discuss ul li .head_img,
	.Play_tour ul li .head_img {
		width: 60px;
		height: 60px;	
		vertical-align: middle;
	}
	.discuss ul li .right_txt ,
	.Play_tour ul li .right_txt {
	   margin-left:10px;
		display: inline-block;
		vertical-align: -webkit-baseline-middle;
	}
	.discuss ul li .right_txt  {
		display: block;
		margin-left: 10px;
	}
	.discuss ul li .right_txt .name,
	.Play_tour ul li .right_txt .name {
		max-width: 80px;
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.discuss ul li .right_txt p span {
		float: left;
	}
	.Play_tour ul li .right_txt p {
		line-height: 30px;
		margin-left: 10px;
		font-size: 14px;
		overflow: hidden;
	}
	.discuss ul li .right_txt p .time {
		position: absolute;
		right: 5px;
	}
	.wrap {
		display: -moz-box;
		display: -webkit-box;
		display: box;
		-webkit-box-orient: horizontal;
		-moz-box-orient: horizontal;
		-o-box-orient: horizontal;
		box-orient: horizontal;
		/*width: 100%;*/
	}
	.flex1 {
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		-o-box-flex: 1;
		box-flex: 1;
	}
	.page {
		margin: 40px 0;
		overflow: hidden;
		display: inline-block;
	}
	.page ul li  {
		list-style-type:none;
		float: left;
		font-size: 14px;
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
		border: 1px solid #ccc;
		cursor: pointer;
	}

	.page ul .on {
		color: #fff;
		background: #43a1da;
		border: 1px solid #43a1da;
	}
	.del-btn {
		height: 46px;
		width: 150px !important;
		border: 1px solid #43a1da;
		border-radius: 5px;
	}
